.container__header {
    background: linear-gradient(45deg, #1c1c1c 0%, #3a72f5 100%);
    height: 108px;
    width: 100%;
    padding-top: 23px;
    position: absolute;
    z-index: 1;
}

.header {
    display: flex;
    justify-content: space-between;
    padding: 0px clamp(0.938rem, 13.758vw - 2.76rem, 13.75rem);
    align-items: center;
}

.btn_menu span {
    background-color: #FFFFFF;
    height: 2px;
    border-radius: 2px;
    width: 24px;
    position: relative;
}

.btn_menu span::after {
    content: '';
    position: absolute;
    left: 0;
    top: 8px;
    background-color: #FFFFFF;
    height: 2px;
    border-radius: 2px;
    width: 24px;
}

.btn_menu span::before {
    content: '';
    position: absolute;
    left: 0;
    bottom: 8px;
    background-color: #FFFFFF;
    height: 2px;
    border-radius: 2px;
    width: 24px;
}

.btn_menu {
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.btn_back svg {
    transform: scale(0.4);
}

.container__main {
    flex-grow: 1;
    color: white;
    position: relative;
    padding: 19px clamp(0.938rem, 13.758vw - 2.76rem, 13.75rem) 0px clamp(0.938rem, 13.758vw - 2.76rem, 13.75rem);
    z-index: 10;
    margin-top: 96px;
    background-color: #0C1317;
    width: 100%;
    border-top-left-radius: 12px;
    border-top-right-radius: 12px;
}

.container__profile_stats {
    display: flex;
    gap: clamp(1.125rem, 3.564vw + 0.167rem, 3.375rem);
}

.container_user__plug {
    min-width: 75px;
    position: relative;
}

.container_user {
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: absolute;
    top: -25px;
}

.user_photo {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #fff;
    width: 75px;
    height: 75px;
    border-radius: 50%;
}

.avatarUser {
    transform: scale(0.5);
}

.user_tag_name {
    color: #3A72F5;
    font-size: 14px;
    font-weight: 500;
    margin-top: 14px;
    text-align: center;
}

.user_photo__canva {
    position: absolute;
    height: 96px;
    width: 96px;
}

.user_photo__canva circle {
    stroke: #3A72F5;
    stroke-width: 5px;
    stroke-linecap: round;
    stroke-dasharray: 284;
    stroke-dashoffset: 167;
    transform-origin: 50%;
    transform: rotate(-165deg)
}



/* denis moros */
.container_user__stats {
    display: flex;
    flex-direction: column;
    gap: 19px;
}

.user_name h1 {
    font-size: 21px;
}

.container_stats {
    display: flex;
    gap: clamp(0.875rem, 2.574vw + 0.183rem, 2.5rem);
}

.container_stats p {
    color: #FFFFFF80;
    font-size: 14px;
    font-weight: 500;
}

.container_stats h2 {
    font-size: 16px;
    font-weight: 600;
}

.stats {
    display: flex;
    flex-direction: column;
}

.user_about {
    color: #FFFFFF80;
    margin-top: 19px;
    font-size: 14px;
    font-weight: 500;
}

.edit_profile {
    display: flex;
    padding: 19px 40px 0px 20px;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 38px;
}

.btn_edit_profile {
    color: #0C1317;
    font-size: 15px;
    font-weight: 500;
    background-color: #3A72F5;
    width: 160px;
    height: 25px;
    border-radius: 13px;
}

.btn_add_profile {
    color: white;
    padding: 5px;
    font-size: 21px;
    font-weight: 500;
    user-select: none;
}

/* посты */
.container_posts_1 {
    display: flex;
    display: flex;
    justify-content: center;
    gap: clamp(0.563rem, 1.656vw + 0.128rem, 1.188rem);
}

.user_photo_1 {
    transform: scale(0.5);
}

.container_user_1 {
    top: 0px;
    position: relative;
    transform: scale(0.8);
}

.container_user_1 .user_tag_name {
    color: #86898b;
}

.posts1 {
    display: grid;
    grid-template-columns: repeat(3, clamp(5.5rem, 25.556vw - 1.368rem, 11.25rem));
    grid-auto-rows: clamp(5.5rem, 25.556vw - 1.368rem, 11.25rem);
    grid-gap: 5px;
}

.posts1 div {
    border-radius: 6px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(135deg, rgba(28, 28, 28, 1) 0%, rgba(58, 114, 245, 1) 100%);
}

.item1 {
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 3;
}

@media screen and (max-width: 380px) {
    .edit_profile {
        justify-content: space-between;
    }

    .item1 {
        grid-column-start: 1;
        grid-column-end: 4;
        grid-row-start: 1;
        grid-row-end: 3;
    }

    .posts1 div {
        border-radius: 6px;
    }

    .posts1 {
        grid-template-columns: repeat(3, clamp(3.75rem, 35vw - 3.25rem, 5.5rem));
        grid-auto-rows: clamp(3.75rem, 35vw - 3.25rem, 5.5rem);
    }
}

.center {
    align-items: center;
    font-size: 15px;
}

.center>:nth-child(n + 2) {
    margin-top: 25px;
}

.posts {
    display: flex;
    justify-content: center;
}

.containerPosts {
    gap: 19px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.btn_play>div:first-child {
    background-color: #3A72F5;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.btn_play {
    padding: 7px;
    display: flex;
    align-items: center;
    gap: 10px;
}

.ArrowsRightFill {
    transform: scale(1.7);
}

.alert {
    color: red;
}